/* CORES */

/* 
Formatos de cores

color: red; [Topo nome (em ingles)]
color: #FF0000 [ tipo hexadecimal ( A- F e 0- 9 )
color: rgb(255, 0, 0); [Tipo RGB]
color: rgba(255, 0, 0, 0.5); [Tipo RGB trasparente]
color: hsl(0, 100%, 50%); [Tipo HSL: matriz, saturação e luminosidade]
 */

 .nome {
    color: red;
 }

 .hexadecimal {
    color: #FFF000
 }

 .rgb {
   color: rgb(255, 180, 80);
 }

.rgba-trasparente {
   color: rgb(255, 180, 80, 0.5);
} 

.hsl {
   color: hsl(0, 50%, 50%)
}

/* 
cores de fundo

Aplica uma cor de fundo para sua página. Exemplos:

background-color: #f0f8ff;

background: linear-gradient(to right, #0077CC, #00CCFF);
[linear-gradiente: cria degrades horizantais, vertcais ou diagonais]

background: rgba(0, 0, 0, 0.3); [Cor de fundo com trasparencia]
*/

#cor-de-fundo {
   background-color: #133a5b;
   background: linear-gradient(to right, #0077CC, #00CCFF);
   /* background-color: rgba(0, 0, 0, 0.3); */
}